.meContainer {
  max-width: 800px;
  backdrop-filter: blur(20px);
  margin: 4rem auto;
  border: 1px solid white;
  border-radius: 10px;
  padding: 2rem 4rem 3rem;
  position: relative;
}
.meImg {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}
.meTitle {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.meBtn {
  padding: 0.5rem 0.5rem;
  color: white;
  background-color: transparent;
  border: 1px white solid;
  border-radius: 2rem;
  transition: 0.5s;
}
.meBtn:hover {
  background-color: black;
}
.meInput {
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 500px;
  border: none;
}
.meInput:focus {
  outline: none;
}
.meAlert {
  font-size: 12px;
  color: red;
  margin: auto 0 auto 8px;
}
.meSuccess {
  outline: 2px green solid;
  color: green;
}
.meFail {
  outline: 2px red solid;
  color: red;
}
.meModal {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3rem;
}

.meScroll {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
